<?xml version="1.0"?>

<configuration>
  <system.web>
    <!--<httpRuntime encoderType="TailSpin.Web.Survey.Shared.AntiXssEncoder, TailSpin.Web.Survey.Shared" />-->
    <authentication mode="None" />
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <machineKey validationKey="24AA7DF4B401A39B87495C9123912D159FDB7E16FC2F183F3340C77927513551E9869D7C5B9F8267A241257DCCBBB5F5D4F57510CEE4B757A04B84169509E548" decryptionKey="501D9156143D85CE017DADA9AA52E92EF08317010558F3257631B5303A2B5F4B" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

