<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="IssuerName" value="fabrikam"/>
    <add key="SigningCertificateName" value="CN=fabrikam"/>
    <add key="EncryptingCertificateName" value=""/>
    <add key="FabrikamIssuerIdentifier" value="http://fabrikam/trust"/>
  </appSettings>
  <system.web>
    <!-- 
      Authentication is set to "None" because the WSFederationAuthenticationModule 
      will perform the federated authentication. 
    -->
    <authentication mode="None"/>
    <compilation targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>
