<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <appSettings>
    <add key="IssuerName" value="tailspin"/>
    <add key="SigningCertificateName" value="CN=tailspin"/>
    <add key="EncryptingCertificateName" value=""/>
    <add key="AdatumIssuerIdentifier" value="http://adatum/trust" />
    <add key="AdatumIssuerLocation" value="https://localhost/Adatum.SimulatedIssuer.wp7/" />
    <add key="FabrikamIssuerIdentifier" value="http://fabrikam/trust" />
    <add key="FabrikamIssuerLocation" value="https://localhost/Fabrikam.SimulatedIssuer.wp7/" />
  </appSettings>

  <location path="SignInResponse">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>

  <system.web>
    <!-- 
      Authentication is set to "None" because the WSFederationAuthenticationModule 
      will perform the federated authentication. 
    -->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="WSFederationAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="SessionAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <microsoft.identityModel>
    <service>
      <audienceUris>
        <!-- Passive federation scenarios audience -->
        <add value="https://localhost/TailSpin.SimulatedIssuer.wp7/SignInResponse" />
      </audienceUris>
      <federatedAuthentication>
        <!-- The issuer is a placeholder that will be assigned in the code when creating the sign-in request -->
        <wsFederation passiveRedirectEnabled="false" issuer="https://placeholder/" realm="https://localhost/TailSpin.SimulatedIssuer.wp7/SignInResponse" requireHttps="true" />
        <cookieHandler requireSsl="true" path="/TailSpin.SimulatedIssuer.wp7" />
      </federatedAuthentication>
      <serviceCertificate>
        <certificateReference x509FindType="FindBySubjectDistinguishedName" findValue="CN=localhost"/>
      </serviceCertificate>
      <certificateValidation certificateValidationMode="None"/>
      <applicationService>
        <claimTypeRequired>
          <!--Following are the claims offered by STS 'https://localhost/TailSpin.SimulatedIssuer.wp7/'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />
          <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" optional="true" />-->
          <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" optional="true" />-->
          <!--<claimType type="http://schemas.xmlsoap.org/claims/group" optional="true" />-->
        </claimTypeRequired>
      </applicationService>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <!-- Adatum issuer certificate -->
          <add thumbprint="f260042d59e14817984c6183fbc6bfc71baf5462" name="adatum" />
          <!--Fabrikam's identity provider -->
          <add thumbprint="d2316a731b59683e744109278c80e2614503b17e" name="fabrikam" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
</configuration>

