<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <appSettings>
    <!-- These are the mappings between organizations (key) and the home realm to use to login (value) -->
    <add key="adatum" value="http://adatum/trust"/>
    <add key="fabrikam" value="http://fabrikam/trust"/>
  </appSettings>

  <location path="FederationResult">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  
  <system.web>
    <!--<httpRuntime encoderType="TailSpin.Web.Survey.Shared.AntiXssEncoder, TailSpin.Web.Survey.Shared" />-->
    <authentication mode="None" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <machineKey validationKey="24AA7DF4B401A39B87495C9123912D159FDB7E16FC2F183F3340C77927513551E9869D7C5B9F8267A241257DCCBBB5F5D4F57510CEE4B757A04B84169509E548" decryptionKey="501D9156143D85CE017DADA9AA52E92EF08317010558F3257631B5303A2B5F4B" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpRuntime requestValidationType="TailSpin.Web.WsFederationRequestValidator, TailSpin.Web"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="WSFederationAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="SessionAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="https://127.0.0.1:444/" />
      </audienceUris>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="false" issuer="https://tailspin.accesscontrol.windows.net/v2/wsfederation" realm="https://127.0.0.1:444/" requireHttps="true" />
        <cookieHandler requireSsl="true" />
      </federatedAuthentication>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="5a074d678466f59dbd063d1a98b1791474723365"/>
      </serviceCertificate>
      <certificateValidation certificateValidationMode="None"/>
      <applicationService>
        <claimTypeRequired>
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />
        </claimTypeRequired>
      </applicationService>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <!--<add thumbprint="fe58cb789562526dc21a50a6eea34757e9693cb1" name="https://localhost/TailSpin.SimulatedIssuer.wp7/" />-->
          <add thumbprint="4A2B2815A65FA3E55AB1FEFD34E296995B52BBCA" name="https://tailspin.accesscontrol.windows.net/" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>

  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>

