<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="IssuerName" value="adatum"/>
		<add key="SigningCertificateName" value="CN=adatum"/>
		<add key="EncryptingCertificateName" value=""/>
		<add key="AdatumIssuerIdentifier" value="http://adatum/trust"/>
	</appSettings>
	<system.web>
		<!-- 
      Authentication is set to "None" because the WSFederationAuthenticationModule 
      will perform the federated authentication. 
    -->
		<authentication mode="None"/>
		<compilation targetFramework="4.0"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
